@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Passion+One:wght@400;700;900&family=Petit+Formal+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     }

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;
  color: #333;
}

header {
  background-color: #2e7d32;
  color: white;
  padding: 20px;
  text-align: center;
}

nav.link {
    margin-top: 10px;
}

nav.link a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav.link a:hover {
    text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h1 {
  color: #2e7d32;
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  color: #388e3c;
  margin-top: 30px;
}

ul {
  background-color: #e8f5e9;
  padding: 15px;
  border-radius: 8px;
  list-style-type: disc;
  margin-left: 20px;
}

.imagem-equipe img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 30px 0;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1b5e20;
}
footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}